
data/Topical-Chat-master/VERSION
data/Topical-Chat-master/TopicalChatEnriched/README.md
data/Topical-Chat-master/TopicalChatASR/synthetic/valid/rare/valid_rare_wer_0.3_seed_4.json
data/Topical-Chat-master/TopicalChatASR/synthetic/valid/rare/valid_rare_wer_0.3_seed_3.json
data/Topical-Chat-master/TopicalChatASR/synthetic/valid/rare/valid_rare_wer_0.3_seed_2.json
data/Topical-Chat-master/TopicalChatASR/synthetic/valid/rare/valid_rare_wer_0.3_seed_1.json
data/Topical-Chat-master/TopicalChatASR/synthetic/valid/rare/valid_rare_wer_0.3_seed_0.json
data/Topical-Chat-master/TopicalChatASR/synthetic/valid/rare/valid_rare_wer_0.2_seed_4.json
data/Topical-Chat-master/TopicalChatASR/synthetic/valid/rare/valid_rare_wer_0.2_seed_3.json
data/Topical-Chat-master/TopicalChatASR/synthetic/valid/rare/valid_rare_wer_0.2_seed_2.json
data/Topical-Chat-master/TopicalChatASR/synthetic/valid/rare/valid_rare_wer_0.2_seed_1.json
data/Topical-Chat-master/TopicalChatASR/synthetic/valid/rare/valid_rare_wer_0.2_seed_0.json
data/Topical-Chat-master/TopicalChatASR/synthetic/valid/rare/valid_rare_wer_0.1_seed_4.json
data/Topical-Chat-master/TopicalChatASR/synthetic/valid/rare/valid_rare_wer_0.1_seed_3.json
data/Topical-Chat-master/TopicalChatASR/synthetic/valid/rare/valid_rare_wer_0.1_seed_2.json
data/Topical-Chat-master/TopicalChatASR/synthetic/valid/rare/valid_rare_wer_0.1_seed_1.json
data/Topical-Chat-master/TopicalChatASR/synthetic/valid/rare/valid_rare_wer_0.1_seed_0.json
data/Topical-Chat-master/TopicalChatASR/synthetic/valid/rare/valid_rare_wer_0.15_seed_4.json
data/Topical-Chat-master/TopicalChatASR/synthetic/valid/rare/valid_rare_wer_0.15_seed_3.json
data/Topical-Chat-master/TopicalChatASR/synthetic/valid/rare/valid_rare_wer_0.15_seed_2.json
data/Topical-Chat-master/TopicalChatASR/synthetic/valid/rare/valid_rare_wer_0.15_seed_1.json
data/Topical-Chat-master/TopicalChatASR/synthetic/valid/rare/valid_rare_wer_0.15_seed_0.json
data/Topical-Chat-master/TopicalChatASR/synthetic/valid/freq/valid_freq_wer_0.3_seed_4.json
data/Topical-Chat-master/TopicalChatASR/synthetic/valid/freq/valid_freq_wer_0.3_seed_3.json
data/Topical-Chat-master/TopicalChatASR/synthetic/valid/freq/valid_freq_wer_0.3_seed_2.json
data/Topical-Chat-master/TopicalChatASR/synthetic/valid/freq/valid_freq_wer_0.3_seed_1.json
data/Topical-Chat-master/TopicalChatASR/synthetic/valid/freq/valid_freq_wer_0.3_seed_0.json
data/Topical-Chat-master/TopicalChatASR/synthetic/valid/freq/valid_freq_wer_0.2_seed_4.json
data/Topical-Chat-master/TopicalChatASR/synthetic/valid/freq/valid_freq_wer_0.2_seed_3.json
data/Topical-Chat-master/TopicalChatASR/synthetic/valid/freq/valid_freq_wer_0.2_seed_2.json
data/Topical-Chat-master/TopicalChatASR/synthetic/valid/freq/valid_freq_wer_0.2_seed_1.json
data/Topical-Chat-master/TopicalChatASR/synthetic/valid/freq/valid_freq_wer_0.2_seed_0.json
data/Topical-Chat-master/TopicalChatASR/synthetic/valid/freq/valid_freq_wer_0.1_seed_4.json
data/Topical-Chat-master/TopicalChatASR/synthetic/valid/freq/valid_freq_wer_0.1_seed_3.json
data/Topical-Chat-master/TopicalChatASR/synthetic/valid/freq/valid_freq_wer_0.1_seed_2.json
data/Topical-Chat-master/TopicalChatASR/synthetic/valid/freq/valid_freq_wer_0.1_seed_1.json
data/Topical-Chat-master/TopicalChatASR/synthetic/valid/freq/valid_freq_wer_0.1_seed_0.json
data/Topical-Chat-master/TopicalChatASR/synthetic/valid/freq/valid_freq_wer_0.15_seed_4.json
data/Topical-Chat-master/TopicalChatASR/synthetic/valid/freq/valid_freq_wer_0.15_seed_3.json
data/Topical-Chat-master/TopicalChatASR/synthetic/valid/freq/valid_freq_wer_0.15_seed_2.json
data/Topical-Chat-master/TopicalChatASR/synthetic/valid/freq/valid_freq_wer_0.15_seed_1.json
data/Topical-Chat-master/TopicalChatASR/synthetic/valid/freq/valid_freq_wer_0.15_seed_0.json
data/Topical-Chat-master/TopicalChatASR/synthetic/train/train_wer_0.3_seed_1.json
data/Topical-Chat-master/TopicalChatASR/synthetic/train/train_wer_0.2_seed_1.json
data/Topical-Chat-master/TopicalChatASR/synthetic/train/train_wer_0.1_seed_1.json
data/Topical-Chat-master/TopicalChatASR/synthetic/train/train_wer_0.15_seed_1.json
data/Topical-Chat-master/TopicalChatASR/synthetic/test/rare/test_rare_wer_0.3_seed_4.json
data/Topical-Chat-master/TopicalChatASR/synthetic/test/rare/test_rare_wer_0.3_seed_3.json
data/Topical-Chat-master/TopicalChatASR/synthetic/test/rare/test_rare_wer_0.3_seed_2.json
data/Topical-Chat-master/TopicalChatASR/synthetic/test/rare/test_rare_wer_0.3_seed_1.json
data/Topical-Chat-master/TopicalChatASR/synthetic/test/rare/test_rare_wer_0.3_seed_0.json
data/Topical-Chat-master/TopicalChatASR/synthetic/test/rare/test_rare_wer_0.2_seed_4.json
data/Topical-Chat-master/TopicalChatASR/synthetic/test/rare/test_rare_wer_0.2_seed_3.json
data/Topical-Chat-master/TopicalChatASR/synthetic/test/rare/test_rare_wer_0.2_seed_2.json
data/Topical-Chat-master/TopicalChatASR/synthetic/test/rare/test_rare_wer_0.2_seed_1.json
data/Topical-Chat-master/TopicalChatASR/synthetic/test/rare/test_rare_wer_0.2_seed_0.json
data/Topical-Chat-master/TopicalChatASR/synthetic/test/rare/test_rare_wer_0.1_seed_4.json
data/Topical-Chat-master/TopicalChatASR/synthetic/test/rare/test_rare_wer_0.1_seed_3.json
data/Topical-Chat-master/TopicalChatASR/synthetic/test/rare/test_rare_wer_0.1_seed_2.json
data/Topical-Chat-master/TopicalChatASR/synthetic/test/rare/test_rare_wer_0.1_seed_1.json
data/Topical-Chat-master/TopicalChatASR/synthetic/test/rare/test_rare_wer_0.1_seed_0.json
data/Topical-Chat-master/TopicalChatASR/synthetic/test/rare/test_rare_wer_0.15_seed_4.json
data/Topical-Chat-master/TopicalChatASR/synthetic/test/rare/test_rare_wer_0.15_seed_3.json
data/Topical-Chat-master/TopicalChatASR/synthetic/test/rare/test_rare_wer_0.15_seed_2.json
data/Topical-Chat-master/TopicalChatASR/synthetic/test/rare/test_rare_wer_0.15_seed_1.json
data/Topical-Chat-master/TopicalChatASR/synthetic/test/rare/test_rare_wer_0.15_seed_0.json
data/Topical-Chat-master/TopicalChatASR/synthetic/test/freq/test_freq_wer_0.3_seed_4.json
data/Topical-Chat-master/TopicalChatASR/synthetic/test/freq/test_freq_wer_0.3_seed_3.json
data/Topical-Chat-master/TopicalChatASR/synthetic/test/freq/test_freq_wer_0.3_seed_2.json
data/Topical-Chat-master/TopicalChatASR/synthetic/test/freq/test_freq_wer_0.3_seed_1.json
data/Topical-Chat-master/TopicalChatASR/synthetic/test/freq/test_freq_wer_0.3_seed_0.json
data/Topical-Chat-master/TopicalChatASR/synthetic/test/freq/test_freq_wer_0.2_seed_4.json
data/Topical-Chat-master/TopicalChatASR/synthetic/test/freq/test_freq_wer_0.2_seed_3.json
data/Topical-Chat-master/TopicalChatASR/synthetic/test/freq/test_freq_wer_0.2_seed_2.json
data/Topical-Chat-master/TopicalChatASR/synthetic/test/freq/test_freq_wer_0.2_seed_1.json
data/Topical-Chat-master/TopicalChatASR/synthetic/test/freq/test_freq_wer_0.2_seed_0.json
data/Topical-Chat-master/TopicalChatASR/synthetic/test/freq/test_freq_wer_0.1_seed_4.json
data/Topical-Chat-master/TopicalChatASR/synthetic/test/freq/test_freq_wer_0.1_seed_3.json
data/Topical-Chat-master/TopicalChatASR/synthetic/test/freq/test_freq_wer_0.1_seed_2.json
data/Topical-Chat-master/TopicalChatASR/synthetic/test/freq/test_freq_wer_0.1_seed_1.json
data/Topical-Chat-master/TopicalChatASR/synthetic/test/freq/test_freq_wer_0.1_seed_0.json
data/Topical-Chat-master/TopicalChatASR/synthetic/test/freq/test_freq_wer_0.15_seed_4.json
data/Topical-Chat-master/TopicalChatASR/synthetic/test/freq/test_freq_wer_0.15_seed_3.json
data/Topical-Chat-master/TopicalChatASR/synthetic/test/freq/test_freq_wer_0.15_seed_2.json
data/Topical-Chat-master/TopicalChatASR/synthetic/test/freq/test_freq_wer_0.15_seed_1.json
data/Topical-Chat-master/TopicalChatASR/synthetic/test/freq/test_freq_wer_0.15_seed_0.json
data/Topical-Chat-master/TopicalChatASR/README.md
data/Topical-Chat-master/TopicalChatASR/images/actual-illustration.png
data/Topical-Chat-master/TopicalChatASR/actual/test_rare_audio.json
data/Topical-Chat-master/TopicalChatASR/actual/test_freq_audio.json
data/Topical-Chat-master/src/wiki/wiki_data.py
data/Topical-Chat-master/src/wiki/wiki.json
data/Topical-Chat-master/src/wiki/Notice.md
data/Topical-Chat-master/src/wapo/wapo_retriever.py
data/Topical-Chat-master/src/wapo/Notice.md
data/Topical-Chat-master/src/requirements.txt
data/Topical-Chat-master/src/reddit/prawler.py
data/Topical-Chat-master/src/build.py
data/Topical-Chat-master/SOFTWARELICENSE
data/Topical-Chat-master/README.md
data/Topical-Chat-master/reading_sets/pre-build/valid_rare.json
data/Topical-Chat-master/reading_sets/pre-build/valid_freq.json
data/Topical-Chat-master/reading_sets/pre-build/train.json
data/Topical-Chat-master/reading_sets/pre-build/test_rare.json
data/Topical-Chat-master/reading_sets/pre-build/test_freq.json
data/Topical-Chat-master/reading_sets/post-build/post_build_file_hashes.json
data/Topical-Chat-master/images/configCD.png
data/Topical-Chat-master/images/configB.png
data/Topical-Chat-master/images/configA.png
data/Topical-Chat-master/DATALICENSE
data/Topical-Chat-master/conversations/valid_rare.json
data/Topical-Chat-master/conversations/valid_freq.json
data/Topical-Chat-master/conversations/train.json
data/Topical-Chat-master/conversations/test_rare.json
data/Topical-Chat-master/conversations/test_freq.json
data/Topical-Chat-master/CONTRIBUTING.md
data/Topical-Chat-master/CODE_OF_CONDUCT.md
data/Topical-Chat-master/.github/PULL_REQUEST_TEMPLATE.md
data/cornell movie-dialogs corpus/README.txt
data/cornell movie-dialogs corpus/raw_script_urls.txt
data/cornell movie-dialogs corpus/movie_titles_metadata.txt
data/cornell movie-dialogs corpus/movie_lines.txt
data/cornell movie-dialogs corpus/movie_conversations.txt
data/cornell movie-dialogs corpus/movie_characters_metadata.txt
data/cornell movie-dialogs corpus/formatted_movie_lines.txt
data/cornell movie-dialogs corpus/chameleons.pdf
data/cornell movie-dialogs corpus/.DS_Store
data/ClariQ-master/src/clariq_eval_tool.py
data/ClariQ-master/src/clariq_baseline_bm25_multi_turn.ipynb
data/ClariQ-master/src/clariq_baseline_bm25.ipynb
data/ClariQ-master/src/clariq_baseline_bert_based.ipynb
data/ClariQ-master/src/clariq_baseine_bm25_multi_turn.ipynb
data/ClariQ-master/src/clariq_baseine_bm25.ipynb
data/ClariQ-master/sample_runs/test_no_q
data/ClariQ-master/sample_runs/test_BERT-reranker
data/ClariQ-master/sample_runs/test_BERT-ranker
data/ClariQ-master/sample_runs/dev_worst_q.eval
data/ClariQ-master/sample_runs/dev_worst_q
data/ClariQ-master/sample_runs/dev_no_q.eval
data/ClariQ-master/sample_runs/dev_no_q
data/ClariQ-master/sample_runs/dev_bm25_question_relevance.eval
data/ClariQ-master/sample_runs/dev_bm25_multi_turn
data/ClariQ-master/sample_runs/dev_bm25.eval
data/ClariQ-master/sample_runs/dev_bm25
data/ClariQ-master/sample_runs/dev_best_question_multi_turn
data/ClariQ-master/sample_runs/dev_best_q.eval
data/ClariQ-master/sample_runs/dev_best_q
data/ClariQ-master/sample_runs/dev_BERT-reranker
data/ClariQ-master/sample_runs/dev_BERT-ranker
data/ClariQ-master/README.md
data/ClariQ-master/data/train_synthetic.pkl.tar.gz
data/ClariQ-master/data/train.tsv
data/ClariQ-master/data/train.qrel
data/ClariQ-master/data/top10k_docs_dict.pkl.tar.gz
data/ClariQ-master/data/test.tsv
data/ClariQ-master/data/single_turn_train_eval.pkl
data/ClariQ-master/data/question_bank.tsv
data/ClariQ-master/data/multi_turn_train_eval.pkl.tar.gz.ab
data/ClariQ-master/data/multi_turn_train_eval.pkl.tar.gz.aa
data/ClariQ-master/data/multi_turn_dev_eval.pkl.tar.gz
data/ClariQ-master/data/dev_synthetic.pkl.tar.gz
data/ClariQ-master/data/dev.tsv
data/ClariQ-master/data/dev.qrel
data/amazon/qa_Video_Games.json.gz
data/amazon/qa_Toys_and_Games.json.gz
data/amazon/qa_Tools_and_Home_Improvement.json.gz
data/amazon/qa_Sports_and_Outdoors.json.gz
data/amazon/qa_Software.json.gz
data/amazon/qa_Pet_Supplies.json.gz
data/amazon/qa_Patio_Lawn_and_Garden.json.gz
data/amazon/qa_Office_Products.json.gz
data/amazon/qa_Musical_Instruments.json.gz
data/amazon/qa_Industrial_and_Scientific.json.gz
data/amazon/qa_Home_and_Kitchen.json.gz
data/amazon/qa_Health_and_Personal_Care.json.gz
data/amazon/qa_Grocery_and_Gourmet_Food.json.gz
data/amazon/qa_Electronics.json.gz
data/amazon/qa_Clothing_Shoes_and_Jewelry.json.gz
data/amazon/qa_Cell_Phones_and_Accessories.json.gz
data/amazon/qa_Beauty.json.gz
data/amazon/qa_Baby.json.gz
data/amazon/qa_Automotive.json.gz
data/amazon/qa_Arts_Crafts_and_Sewing.json.gz
data/amazon/qa_Appliances.json.gz
data/amazon/index.html
data/amazon/icdm/QA_Video_Games.json.gz
data/amazon/icdm/QA_Toys_and_Games.json.gz
data/amazon/icdm/QA_Tools_and_Home_Improvement.json.gz
data/amazon/icdm/QA_Sports_and_Outdoors.json.gz
data/amazon/icdm/QA_Pet_Supplies.json.gz
data/amazon/icdm/QA_Patio_Lawn_and_Garden.json.gz
data/amazon/icdm/QA_Office_Products.json.gz
data/amazon/icdm/QA_Musical_Instruments.json.gz
data/amazon/icdm/QA_Home_and_Kitchen.json.gz
data/amazon/icdm/QA_Health_and_Personal_Care.json.gz
data/amazon/icdm/QA_Grocery_and_Gourmet_Food.json.gz
data/amazon/icdm/QA_Electronics.json.gz
data/amazon/icdm/QA_Clothing_Shoes_and_Jewelry.json.gz
data/amazon/icdm/QA_Cell_Phones_and_Accessories.json.gz
data/amazon/icdm/QA_Beauty.json.gz
data/amazon/icdm/QA_Baby.json.gz
data/amazon/icdm/QA_Automotive.json.gz
